.addtask-header{
    margin: 4px 0 0 5px;
    position: absolute;
    cursor: pointer;
    font-weight: 400;
    color: gray;

}

.addtask-header:hover{
    color: red;
}

.addtask-icon:hover{
    background-color: whitesmoke;
    border-radius: 7px;
}

.checkcircle-outlineicon{
    padding: 5px 10px 0 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.checkcircle-outlineicon:hover{
    background-color: whitesmoke;
    border-radius: 7px;
}


.addtask-box{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    width: 520px;
    padding: 5px;
    border-radius: 8px;


    .css-5xn5lu-MuiInputBase-root-MuiInput-root:before {
        border-bottom: none !important;
    }

}
.MuiTabs-indicator{
    width: 230px !important;
}

.MuiTabs-flexContainer{
    border-bottom: 1px solid gray;
}

.checkcircle-outlineicon{
    min-width: 200px
}

.react-swipeable-view-container{
    min-height: 500px;
}


.comment-box{
    position: absolute;
    bottom: 10px;

    .MuiFormControl-root{
        width: 100%;
    }

    .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root.Mui-focused  {
        border: none !important;
        color: black !important;
    }

    .btn-comment{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.btn-submit{
    .css-1sszw6i-MuiButtonBase-root-MuiButton-root{
        color: white !important;
        background-color: #d32f2f !important;
        height: 38px;
        padding: 10px;
        border-radius: 8px;
    }
}